<html>
  <head>
    <title>New User</title>
    
  </head>
  <body>
      <h1>Add New User Details</h1>
      <form method='post'>
        Enter login credential: <input type='text' name='userid'><br>
        Enter Password: <input type='text' name='password1'><br>
        Confirm Password : <input type='text' name='password2'><br>
        Enter Functionalities:<select name= 'choice' method="POST">  
            {% for level in levels %}
            <option value= "{{level}}" SELECTED>{{level}}</option>"
                {% endfor %}
</select><br>
        <input type="submit" name="action"><br><br>
        <input type="submit" name="submit_button" value="Homepage"><br>
        
      </form>
  </body>
</html>