<html>
  <head>
    <title>Home page</title>
    
  </head>
  <body>
      <h1>FLA’s Fair Compensation Dashboard Homepage</h1>
      <form method='post'>
        <input type="submit" name="submit_button" value="Upload Data"><br><br>
        <input type="submit" name="submit_button" value="Delete Data"><br><br>
        <input type="submit" name="submit_button" value="Visualize Data"><br><br>
        <input type="submit" name="submit_button" value="View Upload Entries"><br><br>
        <input type="submit" name="submit_button" value="View Data"><br><br>
        <input type="submit" name="submit_button" value="Add Users"><br><br>
        <input type="submit" name="submit_button" value="View User Data"><br><br>
        <input type="submit" name="submit_button" value="Delete User"><br><br>
        <input type="submit" name="submit_button" value="Add Benchmark"><br><br>
        <input type="submit" name="submit_button" value="View Benchmark"><br><br>
        <input type="submit" name="submit_button" value="Delete Benchmark"><br><br>
        <input type="submit" name="submit_button" value="Log Off"><br><br>
      </form>
  </body>
</html>
            