<html>
  <head>
    <title>Home page</title>
    
  </head>
  <body>
      <h1>FLA’s Fair Compensation Dashboard Homepage</h1>
      <form method='post'>        
        <input type="submit" name="submit_button" value="View Data"><br><br>
        <input type="submit" name="submit_button" value="Visualize Data"><br><br>
        <input type="submit" name="submit_button" value="View Upload Entries"><br><br>
        <input type="submit" name="submit_button" value="Log Off"><br><br>
      </form>
  </body>
</html>
