<html>
  <head>
    <title>New User</title>
    
  </head>
  <body>
      <h1>Password Not Matching</h1>
      <h2>Please Re-Enter Details</h2> 
      <form method='post'>
        Enter login credential: <input type='text' name='userid'><br>
        Enter Password: <input type='text' name='password1'><br>
        Confirm Password: <input type='text' name='password2'><br>
        <input type="submit" name="action"><br><br>
        <input type="submit" name="submit_button" value="Homepage">
      </form>
      <form method='post'>
      
      </form>
  </body>
</html>