<html>
  <head>
    <title>New Successfull</title>
    <script>
        
     
    </script>
  </head>
  <body>
      <h1>User Credentials Stored Successfully</h1>
      <form method='post'>
        <input type="submit" name="submit_button" value="Add More User">
        <input type="submit" name="submit_button" value="See User Information">
        <input type="submit" name="submit_button" value="Homepage">
        <input type="submit" name="submit_button" value="Log Out">
      </form>
  </body>
</html>
