<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Wage Data</title>
</head>
<body>
<h1>Upload Wage Data</h1>
<h3>Before uploading wage data spreadsheets, please review the FLA’s guidelines to ensure data is uploaded successfully. If these guidelines are not followed, the wage data will not be uploaded into the dashboard</h3>
<form method=post enctype=multipart/form-data>
    <input type=file name=file><br><br>
    <input type=submit name = "submit_button" value="Upload"><br><br><br><br>
    <input type=submit name ="submit_button" value="Homepage">
</form>
</body>
</html>
